#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.emoji-rotate {
  display: inline-block;
  animation: rotate 2s linear infinite;
  margin-right: 8px;
}